body {
  width: 100%;
  height: 100vh;
  background: url(../images/background-galaxy.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgba(255, 255, 255, .85);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Navbar */
header {
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 4rem;
  background-color: black;
  padding: .5rem 1.5rem;
  
  border-top: var(--border-top);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
  border-left: var(--border-left);
  border-width: 3.5px;
}
nav {
  display: flex;
  align-items: flex-end;
  padding-top: 1rem;
}
nav ul {
  display: flex;
  align-items: flex-end;
}
nav li {
  margin: 0 1rem;
  font-weight: bold;
}
nav a {
  color: white;
  background-color: black;
  text-decoration: none;
  font-size: 2.25rem;
  padding: .75rem 1.75rem;
  
  border-top: var(--border-top);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
  border-left: var(--border-left);
  border-width: 2px;
}
ul {
  list-style: none;
}


/* Hamburger Menu Icon */
.hamburger {
  cursor: pointer;
  width: 2.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 3px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(10px);
}
.hamburger-bottom {
  transform: translateY(20px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


/* Mobile Menu ================*/
.mobile-menu {
  position: fixed;
  top: 80px;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  color: white;
  width: 300px;
  padding: 1rem 2rem;
  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, .1),
    inset 0 4px 2px -2px rgb(0, 0, 0, .07);
  transition: all 0.25s;
}
.mobile-menu ul {
  margin-bottom: 1.75rem;
  background-color: black;
  gap: 1rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.mobile-menu li {
  width: 200px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: var(--border-top);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
  border-left: var(--border-left);
  border-width: 2px;
}
.mobile-menu a {
  text-decoration: none;
  font-size: 1.75rem;
  color: white;
  background-color: black;
}
.hidden {
  transform: translateX(100%);
}
.no-scroll {
  overflow: hidden;
}


/* Media Queries for header ================== */
/* Laptop, 1200px = 75rem */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  nav {
    padding-top: 2rem;
  }
  nav li {
    margin: 0 .75rem
  }
  nav a {
    font-size: 1.75rem;
    padding: .625rem 1.375rem;
  }
}

/* Small Laptops, 1024px = 64rem */
@media screen and (max-width: 1024px) {
  header {
    padding: .5rem;
  }
  h1 {
    font-size: 2.75rem;
    padding: .5rem 1.25rem;
  }
  nav li {
    margin: 0 .5rem;
  }
  nav a {
    font-size: 1.25rem;
    padding: .5rem .75rem;
  }
}

/* Tablets, 768px = 48rem */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
  nav {
    padding: 1.25rem 1rem;
  }
}

/* Mobile, 480px = 30rem */
@media screen and (max-width: 481px) {
  h1 {
    font-size: 2.5rem;
    border-width: 2px;
  }
  .hamburger {
    width: 2.25rem;
    height: 1.5rem;
    margin: .5rem .5rem 0 0;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    width: 2.25rem;
    height: 3px;
  }
  .hamburger-middle {
    transform: translateY(8px);
  }
  .hamburger-bottom {
    transform: translateY(16px);
  }

  .mobile-menu {
    width: 250px;
    padding: 1rem 2rem;
  }
  .mobile-menu li {
    width: 180px;
    height: 50px;
  }
  .mobile-menu a {
    font-size: 1.5rem;
  }
}

/* Smaller, 376px = 23.5rem */
@media screen and (max-width: 375px) {
  header {
    padding-bottom: 0;
  }
  h1 {
    font-size: 2.25rem;
  }
}



/* Main content =========================== */
main {
  width: 96%;
  max-width: 1440px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
h2 {
  font-size: 3.5rem;
  color: black;
  background-color: rgba(255, 255, 255, .9);
  border-top: var(--border-top);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
  border-left: var(--border-left);
  border-width: 3px;
  text-align: center;
  padding: .25em .75em;
  margin: .25em auto .5em auto;
  width: fit-content;
}
p {
  font-size: 1.4rem;
  padding: 1rem;
  color: rgba(255, 255, 255, .9);
}
section {
  border-top: var(--border-top);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
  border-left: var(--border-left);
  border-width: 3px;
  
  background-color: rgba(0, 0, 0, 0.9);
  max-width: 1440px;
  padding-bottom: 1rem;
}
section:last-child {
  margin-bottom: 3rem;
}
figure {
  float: left;
  width: 45%;
}
figcaption {
  font-size: 1.3rem;
  padding: .25rem;
  margin-left: 3rem;
}
img {
  width: 80%;
  border-radius: 3px;
  margin-left: 3rem;
  border-top: var(--border-top);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
  border-left: var(--border-left);
  border-width: 3px;
}
.toplink {
  color: white;
  background-color: black;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 3px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 5px;
  padding: 8px 10px;
  margin: 10px;
  float: right;
  transition: all .2s ease-in-out;
}
.toplink:hover {
  text-decoration: underline;
  transform: matrix(1, 0, 0, 1, 0, -10);
  border-top: var(--border-top);
  border-right: var(--border-right);
  border-bottom: var(--border-bottom);
  border-left: var(--border-left);
}


/* Media Queries for Main ================ */
/* Small Laptops, 1024px = 64rem */
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 3rem;
    padding: .25em .5em;
    margin: .25em auto .25em auto;
  }
  p {
    font-size: 1.3rem;
    padding: .75rem;
  }
  figure {
    width: 60%;
  }
  figcaption {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  img {
    width: 80%;
    border-radius: 3px;
    margin-left: 2rem;
  }
}

/* Tablets, 768px = 48rem */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.25rem;
    padding: .25em .5em;
  }
  p {
    font-size: 1.2rem;
    padding: .5rem;
    line-height: 1.2;
  }
  section:last-child {
    margin-bottom: 2rem;
  }
  figure {
    width: 70%;
    margin: 0;
    margin-left: -1rem;
    padding-bottom: .5rem;
  }
  figcaption {
    font-size: 1.1rem;
    margin-left: 2rem;
  }
  img {
    width: 80%;
    border-radius: 3px;
    margin-left: 2rem;
  }
  h1 {
    border-width: 3px;
  }
  img, section, h2 {
    border-width: 2px;
  }
  .toplink {
    font-size: 1.25rem;
    padding: .375rem .5rem;
    margin: .5rem;
  }
}

/* Mobile, 480px = 30rem */
@media screen and (max-width: 481px) {
  h2 {
    font-size: 2rem;
    padding: .25em .5em;
  }
  section:last-child {
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  figure {
    float: none;
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }
  figcaption {
    font-size: 1rem;
    margin-left: 2rem;
  }
  img {
    width: 80%;
    margin-left: 2rem;
  }
  img, section, h2 {
    border-width: 2px;
  }
  .toplink {
    font-size: 1.25rem;
    padding: .375rem .5rem;
    margin: .5rem;
  }
}

/* Smaller, 376px = 23.5rem */
@media screen and (max-width: 375px) {
  main {
    gap: 1rem;
  }
  h2 {
    font-size: 1.75rem;
    padding: .25em .375em;
  }
  section {
    padding-bottom: .5rem;
  }
  section:last-child {
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.05rem;
  }
  figcaption {
    font-size: 1rem;
    margin-left: 1rem;
  }
  img {
    width: 90%;
    margin-left: 1rem;
  }
  .toplink {
    font-size: 1.1rem;
    padding: .25rem .5rem;
  }
}